*{
    box-sizing: ;
}
body{
    margin:  0%;
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
.left{
    display: flex;
    height: 100%;
}
.right{
    justify-content: center;
    align-items: center;
    margin-left: 55%;
    position: absolute;
    display: flex;
    height: 100%;
    width: 40%;
    background-color: rgb(255, 255, 255);
}
.fondo{
    display: flex;
    width: 100%;
}
.logo{
    height:50px;
    margin: 25px 0 0 60px;
    position: absolute;
    display: flex;
}
.enunciado{
    position: absolute;
    background-color: transparent;
    display: flex;
    margin:10% 60% 60% 5%;
    color: white;
    font-size: 38px;
}
.enunciado2{
    position: absolute;
    background-color: transparent;
    display: flex;
    margin:24% 60% 80% 5%;
    color: white;
    font-size: 15px;
}
.form{
    display: inline;
}
.dp{
    display: flex;
    margin: 0;
}
li{
    margin-right: 20px;
    list-style: none;
}
a{

    text-decoration: none;

}
.barra{
    color: blueviolet;
    padding: 3px 14px;
    border-bottom: solid 3px;
}
.caja{
    width: 110%;
    border:solid 1.5px;
    height: 30px;
}
.submit{
    background-color: blueviolet;
    color: white;
    height: 60px;
    width: 240px;
    border: none;
}
form *{
    margin-top: 10px;
}